[defaults]
host_key_checking = false
inventory = inventories/inventory.ini
roles_path = roles
deprecation_warnings=False
sshkey_file = ~/.ssh/id_rsa

[privilege_escalation]
become = true
become_method = sudo
become_user = root